


/*Responsiveness*/
.tb-col-1 {width: 8.33%;}
.tb-col-2 {width: 16.66%;}
.tb-col-3 {width: 25%;}
.tb-col-4 {width: 33.33%;}
.tb-col-5 {width: 41.66%;}
.tb-col-6 {width: 50%;}
.tb-col-7 {width: 58.33%;}
.tb-col-8 {width: 66.66%;}
.tb-col-9 {width: 75%;}
.tb-col-10 {width: 83.33%;}
.tb-col-11 {width: 91.66%;}
.tb-col-12 {width: 100%;}


/*Navigation bar*/
div.navigationBarContainer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 0;
}

div.navigationBar div.navBtnCtn {
	float: left;
	box-sizing: border-box;
	text-align: center;
	padding: 0px;
}

div.navigationBar div.navBtnCtn:after {
	clear: both;
}

div.navigationBar div.navBtnCtn button {
	width: 100%;
	font-size: 16px;
	border-radius: 0px;
	outline: none;
	height: 60px;

	border-left: 1px solid #000;
	border-right:0px;
	border-bottom: 0px;
	border-top: 1px solid #000;

	color: #333;
	background-color: #fff;
	border-color: #ccc;

}

div.navigationBar div.navBtnCtn button:focus {
	outline: 0 !important;
}

div.navigationBar div.navBtnCtn button:first-child {
	border-left: 0px;
}

div.navigationBar div.navBtnCtn.active button {
	background-color: #2965A8;
	color: #FFF;
}